.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: -10%

  &-2
    animation: float2 4.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: -10%


@keyframes float1
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateY(30px)
  100%
    transform: translateY(0px)


.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    padding-right: 0 !important;
    width: 30%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $color-sistema-texto !important  

.titulo-principal__numero
    background-color: $color-secundario  !important
.text-sn
  color: $color-sistema-texto !important  
.bg1
  background-color: $color-secundario
  border-radius: 10px
.bg2
  background-color: #fff
  border-radius: 15px
.bg3
  background-color: #AEE6E6
  border-radius: 15px
.bg4
  background-color: #EFFAF4
.bg5
  background-color: #AEE6E6
  border-radius: 0 40px 0 0
.bg6
  background-color: #FFF4C7
.bg7
  background-color: #AEE6E6
  border-radius: 15px
.bg8
  background-color: #7D6EB2

.bgimg1
  background-image: url('../assets/curso/temas/tema1/img2.svg');
  background-repeat: no-repeat
  background-position: center 
  border-radius: 20px
.bgimg2
  background-image: url('../assets/curso/temas/tema2/img18.svg');
  background-repeat: no-repeat
  background-position: center 
  position: relative;
  top: -15px;
  z-index: 0
.bgimg3
  background-image: url('../assets/curso/temas/tema2/img2.png');
.bgimg4
  background-image: url('../assets/curso/temas/tema3/img1.png');
.bgimg5
  background-image: url('../assets/curso/temas/tema3/img10.svg');
  background-repeat: no-repeat
  background-position: center 
.bgimg6
  background-image: url('../assets/curso/temas/tema3/img11.svg');
  background-repeat: no-repeat
  background-position: center 
.bgimg7
  background-image: url('../assets/curso/temas/tema3/img12.svg');
  background-repeat: no-repeat
  background-position: center 
.bgimg8
  background-image: url('../assets/curso/temas/tema3/img14.svg');
  background-repeat: no-repeat
  background-position: center 
  background-color: #FFF8DA
.bgimg9
  background-image: url('../assets/curso/temas/tema3/img17.svg');
  background-repeat: no-repeat
  background-position: center 
.bgimg10
  background-image: url('../assets/curso/temas/tema3/img18.svg');
  background-repeat: no-repeat
  background-position: center 
.bgimg11
  background-image: url('../assets/curso/temas/tema4/img1.png'); 

.bgimg12
  background-image: url('../assets/curso/temas/tema4/img15.svg');
  background-repeat: no-repeat
  background-position: center 
  background-color: #FFF8DA
  border-radius: 0 !important
.bgimg13
  background-image: url('../assets/curso/temas/tema4/img17.png'); 
.fullview
  background: $color-acento-contenido
  background-position: center
  background-size: cover
  margin-inline: -3.4rem



.tarjeta.color-secundario-cus 
    background-color: #AEE6E6;
.h-card
  height: 450px
.h-card-img
  height: 120px
.icon-card-cus
  max-width: 60%;
  margin: auto;
.fa-check-circle.color-primario
  color: $color-primario !important
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  z-index: 0
.w-card-icon
  width: min-content
  z-index: 1
.bgimg2-fix-top
  top: -28px !important
.title-underline-cus
  text-decoration: underline;
  text-decoration-color: $color-acento-contenido;
  text-decoration-thickness: 4px;
  text-decoration-style: solid;
  text-underline-offset: 10px;
.title-card
  text-align: center
  padding-top: 7px
  padding-bottom: 7px
  color: #FFF
  font-weight: bold





.slyder-f__btn i 
  width: 50px;
  height: 50px;
  background-color: $color-acento-botones;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
.img-infografica__item__dot, .img-infografica-b__item__dot 
    width: 45px !important
    height: 45px !important
.img-infografica__item__numero, .img-infografica-b__item__numero 
    left: 110% !important
.img-infografica.color-secundario .img-infografica__item__dot:before,
.img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: $color-acento-botones !important
.img-infografica.color-secundario .img-infografica__item__numero
  color: $color-sistema-texto !important  
  font-size: 20px;
.tarjeta--container.tarjeta-radius-0 > .tarjeta:first-child 
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important
.tabs-c.color-secundario .tabs-c__tab--active
    z-index: 9;
.tabs-c 
    border-bottom: 0 !important
.cajon.color-secundario 
    background-color: #E7F8F8;
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
    border: 2px solid $color-acento-contenido;
    background-color: $color-acento-botones;
.linea-tiempo-c__header__btn i, .linea-tiempo-c__header__btn--left i, .linea-tiempo-c__header__btn--right i, .pasos-b__header__btn--left i, .pasos-b__header__btn--right i
  color:  $color-acento-contenido;
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before 
  background-color: $color-secundario !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot 
  border-color: $color-secundario !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after
  background-color: $color-secundario !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before
  background-color: $color-secundario !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot 
  border-color: $color-secundario !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after
  background-color: $color-secundario !important
.audio.color-acento-contenido .audio__btn, .tarjeta-audio.color-acento-contenido .audio__btn, .tarjeta-dialogo.color-acento-contenido .audio__btn 
    background-color: $color-acento-botones;
.bloque-texto-g.color-secundario 
    background-color: transparent;
    background-image: url('../assets/curso/temas/tema2/img3.svg');
    background-repeat: no-repeat
    background-position: center 
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: $color-acento-botones;
    border: 1px solid $color-acento-botones;
.slyder-a__bullets__item--active 
    background-color: $color-acento-botones;
    border-color: $color-acento-botones;
    opacity: 1  !important
.slyder-a__bullets__item 
    background-color: $color-acento-botones;
    opacity: 0.4
@media screen and (max-width: $bp-max-md)
  .bgimg1 
    background-repeat: initial;
  .bgimg3, .bgimg4, .bgimg11, .bgimg13
    background-image: none
  .bloque-texto-g 
    padding-top: 45px !important;
  .mb-cus
    margin-bottom: 2em  !important  
  .bgimg2
      padding-left: 40px;
      padding-right: 40px;
  .tarjeta--container > .tarjeta:first-child, 
  .tarjeta--container > .tarjeta:last-child
    border-radius: 20px !important
    margin-bottom: 20px
  .bgimg5, .bgimg6, .bgimg7
    background-size: cover
  .bgimg6
    border-radius: 20px !important
  .h-card
    height: auto
  
@media screen and (max-width: $bp-max-sm)
  .bgimg1 
    background-repeat: initial;
  .bgimg3, .bgimg4, .bgimg11, .bgimg13
    background-image: none
  .bloque-texto-g 
    padding-top: 15px !important;
  .slyder-a__bullets
    display: none
  .mb-cus
    margin-bottom: 2em  !important
  .bgimg2
    padding-left: 20px;
    padding-right: 20px;
  .bgimg6
    border-radius: 20px !important
  .h-card
    height: auto