.bloque-texto-a.color-secundario
  background-color: #F5F5F8

.bloque-texto-a.color-secundario::before
  background-color: #7D6EB2

.cajon.color-primario
  background-color: #DEF2F4

.cajon.color-primario::before
  background-color: #26AAB7

.cajon.color-secundario
  background-color: #ECE9F4

.cajon.color-secundario::before
  background-color: #7D6EB2

.bloque-texto-a
  background-color: #7D6EB2

.bloque-texto-a:before
  background-color: #ECE9F4

.hr1
  border: 1px solid #CCCCCC
  margin-left: 10%

.tarjeta--azul
  background-color: #FAFAFA

.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus
  background-color: #37A3A5

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #37A3A5

.tabs-a.color-acento-botones .tabs-a__tab__selected::before
  background-color: #37A3A5

.tarjeta.color-acento-botones--borde
  border: solid 4px #E8E8E8

.tabs-a__tab
  background-color: #E8E8E8

.tarjeta.color-primario
  background-color: #7D6EB2

.tarjeta.color-acento-botones
  background-color: #FAFAFA

.banner-interno__titulo__icono
  i
    color: #FFFFFF !important

.tabs-c.color-primario .tabs-c__tab--active
  font-weight: bold